body { 
    background-color: beige;
}

label {
    color: red;
}

/*section placeholder(?)*/
section {
    padding: 4rem 2rem;
    border: 2px solid #e6dfd3;
}

a{
    text-decoration: none;
    color: #605f5b;
    font-size: 2rem;

    transition: color 0.3s, scale 0.3s;
}

a:hover {
    scale: 1.2;
    color: #c86b4b;
}

/*
    headers, titles and such :) 
*/
h {
    font-family: "Merriweather", serif;
    font-size: 4rem;
    color: #1a1a1a;

    padding: 0;

    transition: color 0.3s;
}

h:hover {
    color: #c86b4b;
    cursor: default;
}


/* 
    teeny tiny sub-headers!
*/
h2 {
    font-family: "Merriweather", serif;
    font-size: 1.6rem;
    color: #4b4a47;

    font-weight: 200;
    padding: 0;
    margin: 0;

    transition: color 0.3s;
}

h2:hover {
    color: #c86b4b;
    cursor: default;
}


/*
    subtext, descriptors, paragraphs
*/
p {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    color: #605f5b;

    margin: 0;
    padding: 0;
}


.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.container {
    justify-content: center;
    align-items: center;

}


.intro-image {
    border-radius: 50%;
    margin-right: 2vw;
}


.intro {background-color: #f4efe6;}





.test-container {
    justify-self: center;
    width: fit-content;
    overflow: hidden;
    
    mask-image: url('/assets/images/test-overlay.png');
    mask-size: 75%;
}

.test-container.right{ margin-left: 20vw; }
.test-container.right .test{ transform: translateX(-100%); }

.test-container.left{ margin-right: 20vw;}
.test-container.left .test{ transform: translateX(100%); }

.test {
    font-size: 80px;

    text-shadow: 2px 2px #ff0000;

    white-space: nowrap;
    
    width: 100%;
    opacity: 0;
    
    transition: 
        transform 1.4s ease-out,
        opacity 0.6s linear;
}

.test.full {
    transform: translateX(0%) !important;
    opacity: 1;
}


.sep {
    height: 150vh;
}

.side-menu {
    flex-direction: column;
}

.side-menu .side-menu-header {
    transform: translateX(-50px);
    transition: transform, 0.6s;
}
.side-menu.is-active .side-menu-header {
    transform: translateX(0px);
}


.side-menu .side-menu-item {
    transform: translateX(-50px);
    
    transition: transform, 0.6s;
    transition-delay: 0.2s;
}

.side-menu.is-active .side-menu-item {
    transform: translateX(0px);
}