:root {
    --main-bgc: beige;
    --secondary-bgc: #f4efe6;
    --dividing-color: #e6dfd3;

    --title-color: #1a1a1a;
    --secondary-title-color: #4b4a47;
    --main-text: #605f5b;

    --accent: #c86b4b;

    /*change font size with screen size*/
    font-family: "Merriweather", serif;

    box-sizing: border-box;
}

body { 
    background-color: var(--main-bgc);
    margin: 0;
}

label {
    color: red;
}

section {
    padding: 0 4rem 0 4rem;
}


a {
    text-decoration: none;
    font-size: 2rem;
    
    color: var(--main-text);

    transition: color 0.3s, scale 0.3s;
}

a:hover {
    scale: 1.2;
    color: var(--accent);
}

/*
    headers, titles and such :) 
*/
h {
    font-family: "Merriweather", serif;
    font-size: 4rem;

    color: var(--title-color);
    text-shadow: var(--dividing-color) 2px 2px;
    
    padding: 0;

    transition: color 0.3s;
}

h:hover {
    color: var(--accent);
    cursor: default;
}

/* 
    sub-headers
*/
h2 {
    font-size: 2rem;
    
    color: var(--title-color);

    font-weight: 600;
    padding: 0;
    margin: 0;

    transition: color 0.3s;
}

h2:hover {
    color: var(--accent);
    cursor: default;
}


/* 
    teeny tiny sub-headers!
*/
h3 {
    font-size: 1.6rem;
    
    color: var(--secondary-title-color);

    font-weight: 200;
    padding: 0;
    margin: 0;

    transition: color 0.3s;
}

h3:hover {
    color: var(--accent);
    cursor: default;
}


/*
    subtext, descriptors, paragraphs
*/
p {
    font-size: 1.5rem;
    color: var(--main-text);

    letter-spacing: 1px;
    word-spacing: 2px;

    margin: 0;
    padding: 0;
}


.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image {
    border-radius: 50%;
    margin-right: 2vw;
}

.intro {
    padding-top: 2rem;
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .container {
    padding: 2rem 4rem;
}

.title-container:hover *{
    color: var(--accent);
}


.title-label {
    margin-right: 2px;
    padding-right: 2px;
    border-right: 5px solid var(--accent);
    animation: blinking 1000ms infinite;
}

@keyframes blinking {
    0% {
        border-color: var(--accent);
    }

    50% {
        border-color: transparent;
    }
}



header {
    position: fixed;
    width: 97.5vw;
    padding-left: 1vw;
    padding-right: 1.5vw; /*accounting for scrollbar*/
    
    background-color: #f5f5dcbe;
    z-index: 1;

    justify-content: space-between;
    align-items: center;

    border-bottom: 0px solid #e6dfd300;
    transition: border-bottom 0.4s;

    backdrop-filter: blur(7px);
}

.is-active header{
    border-bottom: 3px solid var(--dividing-color);
}

.divider { flex-grow: 1; }

.header-item { margin: 1rem 2rem; }

.header-divider { user-select: none; }

.timeline-section { scroll-margin-top: 40vh; }

.timeline-header {
    display: flex;
    justify-content: center;
}

.timeline-header h{
    text-align: center;
    border-bottom: var(--accent) 2px solid;
}

.slider-container {
    display: grid;
    grid-template-columns: 1fr 8rem 1fr;
}

.slider, .opposite-item {
    width: auto;
    padding: 4rem;
}

.timeline {
    justify-self: center;
    background-color: var(--title-color);
    box-sizing: unset;

    padding-top: 4rem;

    height: 100%;
    width: 4px;
}

.timeline div {
    background-color: var(--title-color);
    
    justify-self: center;
    margin-top: 2rem;

    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.slider-container.start {
    .timeline{
        margin-top: 6rem;
        padding-top: 0;
    }
    .timeline div {
        margin-top: 0;
    }
}

.slider-container.end {
    .timeline {
        height: 4rem;
    }
}

.slider {
    overflow: hidden;
    height: fit-content;

    transition: none !important;
}

.appear-left { 
    transform: translateX(150%); 
    border-right: var(--accent) 4px solid;
    border-left: var(--dividing-color) 2px solid;
}

.appear-right { 
    transform: translateX(-150%); 
    border-left: var(--accent) 4px solid;
    border-right: var(--dividing-color) 2px solid;
}

.slider-item {
    background-color: var(--secondary-bgc);
    border-top: var(--dividing-color) 2px solid;
    border-bottom: var(--dividing-color) 3px solid;

    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15),
                0 0.5rem 1rem 0 rgba(0, 0, 0, 0.15);


    width: fit-content;
    padding: 2rem 2rem;
    opacity: 0;
    
    transition: 
        transform 1.4s ease-out,
        opacity 1.4s linear,
        box-shadow 0.6s ease-out;
}

.slider-item:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.4),
                0 1rem 2rem 0 rgba(0, 0, 0, 0.4);

    * {
        cursor: inherit !important;
    }
}

.slider-container.is-active .slider .slider-item {
    transform: translateX(0) !important;
    opacity: 1;
}

.slider-item h2{
    border-bottom: var(--dividing-color) 4px solid;
    padding-bottom: 0.5rem;
    width: fit-content;
}

.slider-item p {
    margin-top: 0.5rem;
}


.opposite-item {
    max-height: 100%;
    min-height: 24rem;
    
    opacity: 0;
    transition: opacity 0.6s ease-in;
    transition-delay: 0.8s;
}


.slider-container.is-active .opposite-item {
    opacity: 1;
}

.project-poster {
    width: 100%;
    min-height: 25rem;
    max-height: 50rem;
    object-fit: contain;
}

.project-tag-container {
    flex-wrap: wrap;
    margin-top: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
}

.project-tag-container span {
    padding: 0.5rem 1rem;
    
    user-select: none;

    font-weight: lighter;
    
    background-color: #f2ebe2;
    border-top-right-radius: 0.5rem;
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--dividing-color);

    transition: color 0.3s;
}

.project-tag-container span:hover {
    color: var(--accent);
}

.project-title-image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}


.sep {
    height: 150vh;
}

.side-menu {
    flex-direction: column;
}

.side-menu .side-menu-header {
    transform: translateX(-50px);
    transition: transform, 0.6s;
}
.side-menu.is-active .side-menu-header {
    transform: translateX(0px);
}


.side-menu .side-menu-item {
    transform: translateX(-50px);
    
    transition: transform, 0.6s;
    transition-delay: 0.2s;
}

.side-menu.is-active .side-menu-item {
    transform: translateX(0px);
}

footer {
    height: 80vh;
    width: 100%;
    
    background-color: var(--accent);
    z-index: 1;

    border-top: var(--dividing-color) 3px solid;

    position: relative;

    * {
        color: var(--title-color);
    }

    .higher-footer {
        background-color: var(--accent);
        height: 40%;
    }

    .footer-bar-wrapper {
        position: relative;
        padding: 1rem 24rem;
        justify-content: space-between;
        align-items: center;
    }

    .contact-wrapper *{
        margin: 0;
        font-size: 1.2rem;
        font-weight: 100;
        height: fit-content;
        flex-shrink: 1;
    }

    .to-top {
        position: absolute;
        left: 0;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        height: 150%;
        width: 5rem;
        padding: 1rem 0.6rem;
        margin-left: 1rem;
        margin-bottom: 5rem;

        border: none;
        border-top: var(--accent) 5px solid;
        border-left: var(--accent) 2px solid;
        border-right: var(--accent) 2px solid;


        border-radius: 1rem;
        background-color: var(--dividing-color);



        svg {
            position: absolute;
            transform: translateY(10rem);
            transition: transform 0.3s;
            transition-delay: 0.1s;
        }

        p {
            position: absolute;
            color: var(--title-color);
            font-size: 1rem;
            font-weight: 600;

            transition: 
                color 0.1s,
                transform 0.3s;
        }
    }

    .to-top:hover {
        cursor: pointer;

        svg {
            transform: translateY(0);
        }

        p {
            color: var(--accent);
            transform: translateY(-10rem);
        } 
    }

    .socials-bar {
        height: auto;
        justify-content: flex-end;
        align-items: center;

        gap: 1rem;

        a {
            width: 4rem;
            height: 4rem;

            background-color: rgba(255, 255, 255, 0.507);
        }

        a:hover {
            background-color: white;
            cursor: pointer;
        }
    }

    .lower-footer {
        background-color: #a7593f;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        flex-grow: 1;

        img {
            max-height: 24rem;
            object-fit: contain;
        }
    }
}